/* form styling */
.add-destination-form {
	margin: 2rem auto;
	width: 100%;
}

#country {
	width: 100%;
}
.buttons {
	display: flex;
	justify-content: space-between;
	padding-inline: 2rem;
}

.note {
	font-size: 0.8rem;
	color: var(--neutral-200);
	margin-top: 0.5rem;
}

@media (max-width: 380px) {
	.buttons {
		flex-direction: column;
		gap: 2rem;
	}
}
